.header {
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--K8RDarkBlue);
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: end;
  color: var(--K8RLightBlue);
  margin: 2rem 2rem 0 0;
  height: 2rem;
}

.header a {
  text-decoration: none;
  color: var(--GenericBackground);
  font-size: 1.5em;
  font-weight: 900;
}

.header a:hover {
  transition: all 0.2s;
  transform: scale(1.1);
  color: var(--K8RLightBlue);
  border-bottom: 1px solid var(--K8RLightBlue);
}